# Ignorar arquivos de log
logs/
*.log

# Ignorar variáveis de ambiente
.env

# Ignorar arquivos do sistema operacional
*.DS_Store
Thumbs.db

# Ignorar caches e metadados do Python
__pycache__/
*.pyc

# Ignorar arquivos de ambiente virtual
venv/


